<div style="display: flex">
  <div cdkDropList [cdkDropListData]="sourceList"
       [cdkDropListConnectedTo]="secondList" #firstList="cdkDropList"
       (cdkDropListDropped)="drop($event)" class="drop-list">
    <span class="mat-title">Source list</span>
    <mat-card *ngFor="let fact of sourceList" cdkDrag>
      <mat-card-content>{{fact}}</mat-card-content>
    </mat-card>
  </div>
  <div cdkDropList [cdkDropListData]="favouriteList"
       [cdkDropListConnectedTo]="firstList" #secondList="cdkDropList"
       (cdkDropListDropped)="drop($event)" class="drop-list">
    <span class="mat-title">Favourite list</span>
    <mat-card *ngFor="let fact of favouriteList" cdkDrag>
      <mat-card-content>{{fact}}</mat-card-content>
    </mat-card>
  </div>
</div>
