<div *ngIf="loading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div *ngIf="!loading">

  <mat-form-field>
    <mat-label>Chose category</mat-label>
    <mat-select (selectionChange)="onCategorySelect($event)">
      <mat-option *ngFor="let category of categories$ | async" [value]="category">
        {{category}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <app-fact-card-item
    [sourceList]="sourceList" [favouriteList]="favouriteList">
  </app-fact-card-item>
</div>
