/* Add application styles & imports to this file! */
code {
  border: 1px solid #ccc;
  padding: 0.2rem;
}
body { display: block; margin: 8px; font-family: Roboto, "Helvetica Neue", sans-serif; background: gainsboro  }
